{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-classes"
  ], // 未确定的草案，支持在类中写静态变量和箭头函数
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ]
}
